$secondary: #001f3f;
$secondary-grey: #0b243d;
$style: #ffa436;
$a: #ffa436;
$theme-colors: (
  "style": $style,
  "secondary": $secondary,
  "secondary-grey": $secondary-grey,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  background-color: $secondary;
}
.navbar {
  div > .navbar-brand {
    height: 100%;

    img {
      max-height: 10vh;
    }
    div > button {
      color: $style !important;
    }
  }
  div {
    .navbar-nav {
      .nav-link,
      .btn-group > button {
        text-decoration: none;
        font-size: 16pt;
        color: $style !important;

        padding: 0 1rem;
      }
    }
  }
}
.carousel {
  .carousel-inner {
    object-fit: contain;
    overflow: hidden;
    img {
      height: 85vh;

      object-fit: cover;
    }
  }
}

/* Navbar color 001F3F // 010C80
  Navbar style EA3C12
  Navbar brand FFA436 */
