$secondary: #050714;
$secondary-grey: #070b22;

$style: #c97d21;

$theme-colors: (
	"style": $style,
	"secondary": $secondary,
	"secondary-grey": $secondary-grey,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
	div > .navbar-brand {
		height: 100%;

		img {
			max-height: 10vh;
		}
		div > button {
			color: $style !important;
		}
	}
	div {
		.navbar-nav {
			.nav-link,
			.btn-group > button {
				text-decoration: none;
				font-size: 16pt;
				color: $style !important;

				padding: 0 1rem;
			}
		}
	}
}
.carousel {
	.carousel-inner {
		object-fit: contain;
		overflow: hidden;
		img {
			height: 85vh;

			object-fit: cover;
		}
	}
}
.offcanvas .offcanvas-backdrop {
	height: 100vh !important;
}

#footer {
	background-color: $secondary-grey;
}
